/* variable */
:root {
	--color-main: #819B57;
	--color-background: #FAF4EA;
	--color-primary-dark: #31261A;
	--dark-green: #465929;
	--color-chefs: #CFCFBC;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;